---
import Layout from '../layouts/PageLayout.astro';
import Header from '../components/widgets/Header.astro';
import Hero from '../components/widgets/Hero.astro';
import Content from '../components/widgets/Content.astro';
import Features3 from '../components/widgets/Features3.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
import BlogLatestPosts from '../components/widgets/BlogLatestPosts.astro';
// import { Icon } from 'astro-icon/components';
import Features2 from '../components/widgets/Features2.astro';
import CalltoAction from '../components/widgets/CallToAction.astro';
const metadata = {
  title: "The FEY Website",
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Projects', href: '#projects' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Contact me!',
          href: '#contact',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Furkan Eşref Yazıcı"
    tagline="Researcher & Developer"
  >
    <Fragment slot="subtitle">
      This website showcases my journey into technology and research, reflecting my passion for innovation. Here, I share insights and project outcomes, aiming to foster dialogue and learning with others in the tech community. My goal is to contribute to the ongoing conversation about technology's impact on our future and to continually deepen my own expertise. Additionally, illustrations in this website are created by me, and I am open to collaborations and commissions for your different projects.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'www.github.com/nonsensicalinsane',
        },
      },    

    {
      icon: 'tabler:brand-linkedin',
      callToAction: {
        target: '_blank',
        text: 'LinkedIn',
        href: 'www.linkedin.com/nonsensicalinsane',
      },
    },
  ]}
    callToAction={{
      text: 'More about me and my resume!',
      icon: 'tabler:chevron-right',
      href: '/about',
    }}
    image={{
      src: '~/assets/images/me.png',
      alt: 'Furkan Eşref Yazıcı',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Hello, I'm an interdisciplinary researcher passionate about exploring various fields and turning my research into projects.The areas I specialize in mostly revolve around deep learning and quantum computing, particularly their mathematical and theoretical aspects as well as their applications to various other fields. My other areas of interest include biology, complexity science, sociology, and more. Additionally, if you would like to support me financially in my work, projects, and blog posts, you can support me through the Patreon link below. This would make me extremely happy. In the future, I am also considering producing some content on a YouTube channel to the best of my ability. To learn more, you can click on the link below:
      </p>
      
    </Fragment>
    

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->


  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="I have a diverse skill set that spans across various domains. Here are some of my key areas of expertise."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
        icon: 'tabler:brush',
      },
      {
        title: 'Data Science & Deep Learning',
        description: 'My work involves utilizing data analysis and deep learning to unearth insights and solve problems in innovative ways.',
        icon: 'tabler:brain',
      },
      {
        title: 'Quantum Computing',
        description: 'I am exploring the potential of quantum computing to address challenges that are currently beyond the scope of classical computing methods.',
        icon: 'tabler:atom',
      },
      {
        title: 'Research',
        description: 'My research interests are broad, spanning across quantum machine learning to other interdisciplinary areas where technology and science converge to offer novel solutions and deeper understanding.',
        icon: 'tabler:book',
      },
      {
        title: 'Software Development',
        description: 'I develop applications and tools that aid in research and projects related to my fields of interest, using a variety of programming languages to create meaningful contributions.',
        icon: 'tabler:code',
      },
      {
        title: 'Adaptability',
        description: 'I am adept at adapting to new technologies, tools, and methodologies, allowing me to stay ahead of the curve and remain agile in the face of change.',
        icon: 'tabler:refresh',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="projects"
    title="Feautured Projects"
    subtitle="Explore my most recent projects and the creative process behind them."
    isReversed
    items={[]}
    callPageName = "More Projects"
    callPagePath = "/projects"
    >
  </Content>

  <!-- Content Widget **************** -->

  
  <!-- Testimonials Widget *********** -->

  

  <!-- CallToAction Widget *********** -->



  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my <span class='text-blue-600 dark:text-blue-400'>blog</span>"
    information={"I share my thoughts, insights, and discoveries on a variety of topics, including quantum computing, machine learning, and more."}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <CalltoAction
    id ="patreon"
    title="Help me on my journey!"
    subtitle="If you would like to support me financially in my work, projects, and blog posts, you can support me through the Patreon link below. This would make me extremely happy. In the future, I am also considering producing some content on a YouTube channel to the best of my ability."
    actions={[
      {
        text: 'Support me on Patreon',
        href: 'https://www.patreon.com/theFEY',
        target: '_blank',
      },
    ]},
    logo = "~/assets/images/icons/patreon.png"
  
    
  />
<Features2
  title="I am here to help!"
  id="contact"
  subtitle="Reach out to me for collaborations, inquiries, or to simply say hello!"
  items={[

    {
      title: 'Email',
      description: '<a href="mailto:yazici.furkan@proton.me"> yazici.furkan@proton.me </a>',
      icon: 'tabler:mail',
    },
    {
      title: 'Upwork',
      description: '<a href="https://www.upwork.com/freelancers/~01ae41556331664a51" target="_blank">Upwork Profile</a>',
      icon: 'tabler:brand-upwork',
    },
    {
      title: 'LinkedIn',
      description: '<a href="https://www.linkedin.com/in/nonsensicalinsane/" target="_blank">LinkedIn Profile</a>',
      icon: 'tabler:brand-linkedin',
    },
    {
      title: 'Github',
      description: '<a href="https://www.github.com/nonsensicalinsane" target="_blank">@nonsensicalinsane</a>',
      icon: 'tabler:brand-github',
    },
    {
      title: 'Discord',
      description: '<a href="  " target="_blank">@furkaneyazici</a>',
      icon: 'tabler:brand-discord',
    },
    {
      title: 'Twitter',
      description: '<a href="https://twitter.com/furkaneyazici" target="_blank">@furkaneyazici</a>',
      icon: 'tabler:brand-twitter',
    }
  ]}
/>
</Layout>
