---
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About me"
    image={{
      src: '/src/assets/images/me.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero>

  <Steps
    id="research-experience"
    title="Research experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="work-experience"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
  id="certifications"
  title="Certifications"
  items={[
    {
      title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
      icon: 'tabler:certificate',
    },
    {
      title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
      icon: 'tabler:certificate',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
</Layout>
