---
import Hero from '../components/widgets/Hero.astro';
import Steps from '../components/widgets/Steps.astro';
import Layout from '../layouts/PageLayout.astro';
import Content from '../components/widgets/Content.astro';
import Header from '../components/widgets/Header.astro';
const metadata = {
  title: 'Who am I?',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Fragment slot="header">
  <Header
    links={[
      {
        text: 'Home',
        href: '/',
      },
      {
      text: 'About',
      links: 
        [
        {
          text: 'Research',
          href: '#research-experience',
        },
        {
          text: 'Work',
          href: '#work-experience',
        },
        {
          text: 'Education',
          href: '#education',
        },
        {
          text: 'Certifications',
          href: '#certifications',
        },
      
      ],
    },
    {
      text: 'Project', href: '/projects',
    },
    {
      text: 'Blog', href: '/blog',
    },
    ]}
    isSticky
    />

  </Fragment>
  <Hero>
    <Fragment slot="title">
      <h1 class="text-4xl font-bold tracking-tight dark:text-white sm:text-5xl">
        Hi, I'm <span class="text-blue-600 dark:text-blue-400">FEY!</span>
      </h1>
    </Fragment>
  </Hero>
  <Content
  id="about"
  columns={3}
  items={[
    {
      icon: 'tabler:brand-github',
      callToAction: {
        target: '_blank',
        text: 'Github',
        href: 'https://www.github.com/nonsensicalinsane',
      },
    },
    {
      icon: 'tabler:brand-linkedin',
      callToAction: {
        target: '_blank',
        text: 'LinkedIn',
        href: 'https://www.linkedin.com/nonsensicalinsane',
      },
    },
  ]}
  image={{
    src: '~/assets/images/me.png',
    alt: 'Furkan Eşref Yazıcı',
    loading: 'eager',
  }}

  callToAction={{
    text: 'Download my resume!',
    icon: 'tabler:chevron-right',
    href: '/src/assets/pdf/Furkan_Eşref_Yazıcı_CV.pdf',
    target: '_blank',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
    <p>
      Hello, I am an interdisciplinary researcher who is passionate about exploring various fields, conducting research in these areas, and endeavoring to transform my studies into projects. In addition to my areas of interest, I am also a computational physicist. The specific areas I am specializing in primarily involve the mathematical and theoretical aspects of deep learning and quantum computing, as well as their applications to various other fields. Due to my passion for research, I have been involved in numerous research groups during my undergraduate studies to enhance my skills. Additionally, to reach out to a broader audience, I co-founded a community at my university with my friends and organized various events, including a hackathon. Furthermore, during my time with QTurkey, I worked on several projects to educate people. Although I may not always achieve the desired results, through this website I have created, I will continue to strive to inform more individuals and further develop myself.
    </p> 

  </Fragment>
  

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>



  <Steps
    id="research-experience"
    title="Research experience"
    items={[
      {
        title:
          'Undergraduate Research Assistant <br /> <span class="font-normal">Simply Complex Lab - Ankara, Turkey</span> <br /> <span class="text-sm font-normal">Nov 2021 - Present</span>',
        description: `The laboratory's research area centers on intricate, far-from-equilibrium phenomena. As an integral component of broader collaborative investigations, I contributed to the cross-correlation analysis of hyperuniformity dynamics within a colloidal system, employing principles from the domain of fluid dynamics. Presently, my research entails an examination of causal network analysis concerning the emergence of hyperuniformity within this system. I am actively engaged in the development of Python code to assess causality resulting from interparticle collisions. <br> Supervisor: Dr. Serim İlday`,
        icon: 'tabler:microscope',
      },
      {
        title:
          'Undergraduate Research Assistant <br /> <span class="font-normal">IVMER The Research and Application - Ankara, Turkey</span> <br /> <span class="text-sm font-normal">Feb 2020 - Jun 2022</span>',
        description: `Contributed to Quantum Convolutional Neural Networks (QCNN) for image detection utilizing various quantum gate algorithms. Also, applied Quantum Machine Learning techniques to address the 'Travelling Salesman' problem within a research team.<br> Supervisor: Prof. M. Bilge Demirköz `,
        icon: 'tabler:microscope',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="work-experience"
    title="Work experience"
    items={[
      {
        title:
          'Outreach Coordinator <br /> <span class="font-normal"><a href="https://www.qturkey.org" target="_blank">QTurkey</a></span> <br /> <span class="text-sm font-normal">Sep 2021 - Jan 2023</span>',
        description: `- The aim of the QTurkey (Quantum Turkey) community is to spread quantum technologies and raise awareness through events held in Turkey.
                      <br>- As the Outreach Team, our aim is to ensure the growth of the QTurkey community, establish domestic and international collaborations, and to keep the QTurkey family active by organizing new events.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Internship, Coordinator <br /> <span class="font-normal"><a href="https://www.qworld.net" target="_blank">QWorld</a></span> <br /> <span class="text-sm font-normal">Jul 2021 - Aug 2021</span>',
        description: `The project is included the website and classification of all courses and related stuffs. The website is: <span class='text-red-600 dark:text-red-400'><a href="https://github.com/GehadSalemFekry/QMap" target="_blank">qmap.qworld.net</a> </span> <br> Supervisor: <a href="https://scholar.google.com/citations?user=vbMPLTMAAAAJ&hl=en" target="_blank">Zeki Can Seskir</a>`,
        icon: 'tabler:briefcase',
      },
      { 
        title: "Internship, Industrial Automation <br /> <span class='font-normal'><a href='http://www.altinay.com/en/home/' target='_blank'>ALTINAY Technology Group - Istanbul, Turkey</a></span> <br /> <span class='text-sm font-normal'>Summer 2017</span>",
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Internship, Electrical Maintenance Technician <br /> <span class="font-normal"><a href="https://www.kanca.com.tr/" target="_blank">KANCA - Istanbul, Turkey</a></span> <br /> <span class="text-sm font-normal">Summer 2016</span>',
        icon: 'tabler:briefcase',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Middle East Technical University<br /> <span class="font-normal">Bachelor of Science in Physics</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
        description: 'I have taken these for my concentration and extra courses: <br> CENG 501: Deep Learning <br> PHYS 409: Physics of Condensed Matter I <br> PHYS 312: Elementary of Solid State<br> PHYS 495: Group Theory in Physics<br> PHYS 444: Computational Physics II<br> BIOL 106: Biology <br> BIOL 317: Molecular Biology <br>  '
      },
      {
        title: ` Technical School ENKA Anatolian High School <br /> <span class="font-normal">Industrial Automation </span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
  id="certifications"
  title="Certifications"
  items={[
    {
      title: `<a href="https://coursera.org/share/bd44b9059c4517a867fad0664b0e406d" target="_blank">IBM Data Science Professional Certificate</a> <br /> <span class="font-normal">IBM - Coursera</span>`,
      icon: 'tabler:certificate',
      description: "I completed the IBM Data Science Professional Certificate, a rigorous program covering data science fundamentals, machine learning, and practical project work. This certificate demonstrates my proficiency in data analysis, Python programming, and the use of industry-standard tools and libraries. It showcases my readiness for data science roles and highlights my commitment to ongoing skill development. <br> Capstone Project:  <span class='text-red-600 dark:text-red-400'><a href='https://github.com/NonsensicalInsane/IBMDataScienceCourse' target='_blank'>SpaceX Launch Success Analysis</a></span>"
    },
    {
      title: `<a href="https://coursera.org/share/5d9bc17f9ad0748a5ddd18392041e7f3" target="_blank">Google Data Analytics Professional Certificate</a> <br /> <span class="font-normal">Google - Coursera</span>`,
      icon: 'tabler:certificate',
      description: "I acquired key skills in data cleaning, analysis, and visualization using spreadsheets, SQL, R programming, and Tableau. I learned to organize and analyze data, create visualizations, and present findings effectively. Developed expertise in spreadsheet usage, data ethics, problem-solving, and decision-making. Proficient in SQL querying, Tableau software, R programming, and creating job portfolios with case studies."
    },
    {
      title: '<a href="https://portal.neuromatchacademy.org/certificate/924f0e9d-1fa4-44a7-8ae5-9e218b707508" target="_blank">Deep Learning</a> </br> <span class="font-normal">Neuromatch Academy</span> <br /> <span class="text-sm font-normal">August 2021</span>',
      icon: 'tabler:certificate',
      description: " Completed Neuromatch's Deep Learning course, focusing on advanced neural network architectures and applications. Learned to design, train, and implement deep learning models for tasks such as image recognition and natural language processing, utilizing frameworks like TensorFlow and PyTorch."
    },
        {
      title: '<a href="https://portal.neuromatchacademy.org/certificate/d8922efe-9a30-460d-97aa-759f9b2a6e20" target="_blank">Computational Neuroscience</a> </br> <span class="font-normal">Neuromatch Academy</span> <br /> <span class="text-sm font-normal">August 2021</span>',
      icon: 'tabler:certificate',
      description: "Completed the Neuromatch Computational Neuroscience course, focusing on computational techniques for understanding brain function. Gained skills in neural data analysis, modeling of neural systems, and applying machine learning to neuroscience research."
    },
    {
      title: '<a href="https://drive.google.com/file/d/1SJ-ukSxDxv2DZesPCvr86eufqZYWmpJJ/view" target="_blank">Qiskit Summer School Quantum Machine Learning</a> </br> <span class="font-normal">IBM Qiskit</span> <br /> <span class="text-sm font-normal">August 2021</span>',
      icon: 'tabler:certificate',
      description: "Completed IBM's Qiskit Quantum Machine Learning course, learning to apply quantum computing in machine learning. Gained skills in quantum algorithm implementation and optimization using Qiskit."
    }
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
</Layout>
