---
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Header from '~/components/widgets/Header.astro';
const metadata = {
  title: 'Who am I?',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Fragment slot="header">
  <Header
    links={[
      {
        text: 'Home',
        href: '/',
      },
      {
      text: 'About',
      links: 
        [
        {
          text: 'Research',
          href: '#research-experience',
        },
        {
          text: 'Work',
          href: '#work-experience',
        },
        {
          text: 'Education',
          href: '#education',
        },
        {
          text: 'Certifications',
          href: '#certifications',
        },
      
      ],
    },
    {
      text: 'Project', href: '/projects',
    },
    {
      text: 'Blog', href: '/blog',
    },
    ]}
    isSticky
    />

  </Fragment>
  <Hero>
    <Fragment slot="title">
      <h1 class="text-4xl font-bold tracking-tight dark:text-white sm:text-5xl">
        Hi, I'm <span class="text-blue-600 dark:text-blue-400">FEY!</span>
      </h1>
    </Fragment>
  </Hero>
  <Content
  id="about"
  columns={3}
  items={[
    {
      icon: 'tabler:brand-github',
      callToAction: {
        target: '_blank',
        text: 'Github',
        href: 'www.github.com/nonsensicalinsane',
      },
    },
    {
      icon: 'tabler:brand-twitter',
      callToAction: {
        target: '_blank',
        text: 'Twitter',
        href: 'www.twitter.com/nonsensicalinsane',
      },
    },
    {
      icon: 'tabler:brand-linkedin',
      callToAction: {
        target: '_blank',
        text: 'LinkedIn',
        href: 'www.linkedin.com/nonsensicalinsane',
      },
    },
  ]}
  image={{
    src: '/src/assets/images/me.png',
    alt: 'Furkan Eşref Yazıcı',
    loading: 'eager',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
    <p>
      I'm an enthusiast with a burgeoning interest in machine learning and quantum computing. While my journey into these fields is just beginning, this website represents both a starting point and a canvas for documenting my progress, learning, and future contributions. Here, I aim to share my explorations, discoveries, and the knowledge gained as I delve deeper into these fascinating areas of study, reflecting a commitment to growth and a curiosity about the potential they hold.
    </p>
    
  </Fragment>
  

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>



  <Steps
    id="research-experience"
    title="Research experience"
    items={[
      {
        title:
          'Undergraduate Research Assistant <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Undergraduate Research Assistant <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="work-experience"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
  id="certifications"
  title="Certifications"
  items={[
    {
      title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
      icon: 'tabler:certificate',
    },
    {
      title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
      icon: 'tabler:certificate',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
</Layout>
