---
import Layout from '../layouts/PageLayout.astro';
import HeroText from '../components/widgets/HeroText.astro';
import Header from '../components/widgets/Header.astro';
import ContactForm from '../components/widgets/ContactForm.astro';
import ParticleBackground from '../components/effects/ParticleBackground.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- Particle Background -->
  <ParticleBackground density={80} />

  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'About', href: '/about' },
        { text: 'Projects', href: '/projects' },
        { text: 'Blog', href: '/blog' },
      ]}
      actions={[
        {
          text: 'Contact me!',
          href: '#contact',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Contact" title="<span class='text-gradient-animated'>Let's Connect!</span>" />

  <ContactForm className="relative z-10" id="contact" />


</Layout>
